<div class="jumbotron container">
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center"> Last products </h1>
      <% @products.each do |product| %>
      <div class="product">
  <div class="upvote-container" id="product-<%= product.id %>">
            <%= render 'upvotes/show', product: product %>
          </div>
       
 <%= link_to product_path(product) do %>
        <% if product.photo? %>
            <%= cl_image_tag(product.photo.path, height: 117, width: 175, crop: :fill, class: 'product-image') %>
          <% else %>
               <% if product.category == "CFD" %>
                  <%= image_tag("cfd.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
              <% elsif product.category == "Food" %>
                  <%= image_tag("food.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
              <% elsif product.category == "Tech" %>
                  <%= image_tag("IT.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
              <% elsif product.category == "Schema_2D" %>
                  <%= image_tag("2d.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
              <% elsif product.category == "Process_Simulation" %>
                  <%= image_tag("sim.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
              <% elsif product.category == "Sizing" %>
                  <%= image_tag("siz.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
              <% elsif product.category == "Mathematic" %>
                  <%= image_tag("math.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "Biology" %>
                  <%= image_tag("bio.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "Chemistry" %>
                  <%= image_tag("chem.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "DATA_Analytics" %>
                  <%= image_tag("data.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "Design_3D" %>
                  <%= image_tag("3d.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "Material" %>
                  <%= image_tag("mat.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "Education" %>
                  <%= image_tag("edu.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "IT" %>
                  <%= image_tag("IT.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                      <% elsif product.category == "Energy" %>
                  <%= image_tag("energy.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>

                <% else %>
                  <%= image_tag("back1.jpg", height: 117, width: 175, crop: :fill, class: 'product-image') %>
                <% end %>

          <% end %>
         <div class='product-body'>
            <h3 class="ttext"><%= product.name %></h3>
           <p class="ttext"><%= product.category %></p>
           <% end %>
          </div>
          <ul class="list-inline product-controls">
            <li>
              <%= link_to product_path(product) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_product_path(product) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </li>

          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>