
<%= render "shared/bannerhome" %>
<br>
<%= render "shared/parcourt" %>

<%= render "shared/list" %>
  <!-- /.All product -->
<div class="content-section-b">
        <div class="container-fluid ">
            <div class="row">
              <div class="text-center">
                    <%= image_tag "find.jpg", class: "img-rounded text-center" %>
                </div>
                <div class="text-center">
                    <h2 class="section-heading">All Product</h2>
                    <%= link_to "Find all best products", products_path, class:" btn btn-lg btn-danger" %>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    
